//COLORS

$color-primary: #23262d;
$color-secondary: #cee002;
$color-secondary-2: #ced41e;

$color-font: #828282;
$color-font-2: #707172;

$color-white: #fff;

$color-border-grey: #393c42;

//fonts
$font-family: 'Lato', sans-serif;
