.footer {
  grid-column: full-start / full-end;
  border-top: 1px solid $color-font;
  padding: 0 7rem;

  display: flex;
  align-items: center;

  &__copyright {
    justify-self: center;
    flex: 2;
    display: flex;
    justify-content: center;
  }

  &__logo {
    height: 60%;
  }

  &__social {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  &__icon {
    width: 2rem;
    height: auto;
    transition: all 0.2s;
  }

  &__icon:hover {
    opacity: 0.7;
  }
}
